.page {
    width: 100%;
    height: 100%;
    position: absolute;

}
.container {
    width: 100%;
    will-change: contents;
    position: absolute;
    margin: 0 auto;
    
}
.project-page {
    top: 50%;
    position: absolute;
    width: 40%;

    h1 {
        font-size: 53px;
        color: gainsboro;
        margin-top: 0;
        position: relative;
        margin-bottom: 35px;

    }
}